html {
  box-sizing: border-box;
}

*,*:before, *.after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    background-image: url("../images/galaxy.jpg");
}

.container {
 width:80%;
 margin:0 auto;
 display: flex;
 flex-flow: row nowrap;
 background-color: #E9A15F;
}

section {
   flex-basis: 58%;
   margin-right:3rem; 
   padding: 0 1rem;
}

aside {
    flex-basis: 35%;
 }
 h1,h2 {    
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
 }
 h1{
     font-size: 2rem;     
 }

fieldset {
    border-color:#000000;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
}

legend{
    padding: 0.6rem;
    font-size: 1.3rem; 
    font-weight: bolder;
}

p {
    line-height: 1.3;
    margin: 0;
    padding: 0.5rem;
}

label:not([for="radio"]) {
    display: block;
}

label{
    margin: 0.3rem;
}

.lastchild{
    margin-bottom: 0.8rem;
}

input:not([type="radio"]):not([type="checkbox"]), select,textarea {
  display: block;
  margin: 0 0 1rem 0;
  padding: 0.3rem;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
  width:90%;
}

textarea {
    display: block;
    padding:0.5rem;
    height: 6rem;
}

button{
    margin:.6rem 0;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: black;
    color:#E9A15F;
}

button:hover{
    background-color: #E9A15F;
    color:black;
    font-weight: bold;
}

h3{
    margin: 3rem 0 0 0;
}
iframe{
    width: 90%;
    margin:1rem 0;
}


